.searchBar{
    width: 70%;
}

.searchBar__input{
    width: 100%;
    border: 1.5px solid #dbd7d2;
    background-color: #dbd7d2;
    color: #2C3539;
}

.searchBar__input:hover, .searchBar__input:focus{
    background-color: white;
    border: 1.5px solid #072227;
}